/* 基本的なスタイル */
html, body {
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    position: sticky; /* ヘッダーを固定 */
    top: 0; /* 上部に固定 */
    width: 100%; /* 全幅に設定 */
    z-index: 1000; /* 他の要素より前面に表示 */
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

main {
    flex: 1;
    width: 100%;
    /* padding: 2rem; */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    left: 0;
    bottom: 0;
}



/* レスポンシブデザイン対応用メディアクエリ */
@media (max-width: 1000px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .about_contents {
        flex-direction: column;
    }

    .about_contents .text {
        /* text-align: center; */
        margin-right: 0;
        margin-bottom: 20px; /* テキストと画像の間のスペース */
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul li a {
        padding: 0.5rem;
    }
    .about_contents {
        flex-direction: column;
    }

    .about_contents .text {
        /* text-align: center; */
        margin-right: 0;
        margin-bottom: 30px; /* テキストと画像の間のスペース */
    }
}

/* ヘッダータイトルのスタイル */
.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ヒーローセクションのスタイル */
.hero {
    width: 100%;
    position: relative;
    background-image: url('images/mainroom.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* 画像の高さを指定 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* テキストの色を白に */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* 黒い半透明のオーバーレイ */
    padding: 20px 0;
    width: 100%;
}

.overlay h2,
.overlay p {
    margin: 10px 0;
}

/* ボタンのスタイル */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f39c22; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    text-decoration: none; /* テキストの下線を削除 */
    border-radius: 5px; /* ボタンの角を丸くする */
    transition: background-color 0.3s ease; /* ホバー時の背景色の変化をスムーズに */
}

.button:hover {
    background-color: #e67e22; /* ホバー時の背景色 */
}

/* aboutセクションのスタイル */

.about {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
}

.about_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_contents .text {
    text-align: left;
    flex: 1;
    margin-right: 20px; /* テキストと画像の間のスペース */
}
.about_contents .images {
    display: flex;
     gap: 20px;
}

.about_contents .image, .about_contents .face_image{
    flex: 1;
    max-width: 200px; /* 画像の最大幅を指定 */
}

.about_contents .image img {
    /* flex: 1; */
    width: 100%;
    height: auto;
}

.about_contents .face_image img{
    /* flex: 1; */
    width: 100%;
    height: auto;
    border-radius: 50%; /* 丸く切り取る */
}
